* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Start Landing Page */
.Home h1{
	text-align:center;
}

.landing-page {
    position: relative;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.logo {
	width:1%;
	display:absolute;
	top:0;
	left:0;
}
.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #5d5d5d;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}

.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .Home .Credentials .Offer .Get-started {
    width: 35%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
	height:auto;
	display:block;
}

.Offer h1 {
	text-align:center;
}

.Get-started .centering {
	text-align:center;
}

.Get-started form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.Reach-Me {
    display:flex;
    justify-content:space-evenly;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px 1px;
    position:relative;
}

    .fa:hover {
        opacity: 0.8;
    }

.fa-linkedin {
    color: #007bb5;
}

.fa-instagram {
    color: pink;
}

.fa-carousell {
	background-image:url('Carousell.png');
}

.fa-facebook {
	color:blue;
}

.fa-github {
	color:white;
}

footer {
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
	text-align:center;
}

/* End Landing Page */